[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "==0.7.0"
asgiref = "==3.8.1"
"backports.zoneinfo" = "==0.2.1"
coverage = "==7.6.1"
django = "==4.2.17"
pydantic = "==2.10.5"
pydantic-core = "==2.27.2"
sqlparse = "==0.5.3"
typing-extensions = "==4.12.2"
tzdata = "==2024.2"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
